body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/* Navigation Section */
.top-navigation {
	background-color: #fff;
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}
.content {
	padding: 0px 15px;
}
.top-navigation > .links {
	float: right;
}
.links > li {
	display: inline-block;
}

